.main_container{
    flex: 3;
    padding: 2rem;

    .title{
        font-size:1.4rem;
        font-weight:500;
        margin: 1rem 0;
    }

    .desc{
        font-size: 0.9rem;
        color: #6E6F7D; 
    }

    .welcome_card_container{
        display: flex;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        justify-content: space-between;
        gap: 1rem;
        color: #fff;
        margin: 2rem auto;

        .card{
            padding: 1rem;
            display: flex;
            flex-direction: column;
            width: 100%;
            border-radius: 11.4904px;
            
            .cardBox_container{
                display: flex;
                justify-content: space-between;
            }
            
            .icon_box{
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
                
            .card_box{
                background: rgba(12, 12, 12, 0.2);
                border-radius: 6.08108px;
                width: fit-content;
                font-size: 0.7rem;
                padding:  0.3rem 0.9rem;
            }

            .view{
                display: flex;
                align-items: center;
            }
            

            h1{
                margin-top: 3rem;
                font-size: 3.2rem; 
            }

            p{
                font-size: 0.7rem;
            }
        }
        
        .live{
            background-color: #7A9FFF;
            box-shadow: 0px 20px 60px rgba(2, 140, 213, 0.15);
            flex: 2;
        }

        .progress{
            background: #7AD1FF;
            box-shadow: 0px 20px 60px rgba(101, 202, 255, 0.2);
            flex: 1;
        }

        .completed{
            background: #B97AFF;
            box-shadow: 0px 25px 60px rgba(173, 101, 255, 0.3);
            flex: 1;
        }
    }

    .current_card_container{
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 1rem;
        margin: 2rem auto;

        .card{
            display: flex;
            padding: 1rem;
            width: 100%;
            gap: 1rem;
            flex-direction: column;
            border: 1px solid rgba(26, 56, 96, 0.1);
            border-radius: 10px;
            
            .card_title{
                font-size:1.2rem;
            }

            .card_desc{
                font-size: 0.7rem ;
                margin-right: auto;
            }

            h2{
                font-size: 0.8rem;
                font-weight: 500;
            }

            .progess_bar{
                height: 8px;
                border-radius: 2px;
                width: 100%;
                background-color: #EDEDED;
            }

            .progess_bar::after{
                content: "";
                height: 8px;
                border-radius: 2px;
                width: 75%;
                background-color: #14A9F9;
            }

            .progess{
                p{
                    font-size: 0.7rem;
                    color: #6E6F7D;
                }

                .bold{
                    font-weight: bold;
                }
                
            }

            span{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            img{
                margin-right: 1rem;
            }

            button{
                border: none;
                border-radius: 5px;
                background-color: #14A9F9;
                color: #fff;
                padding: 10px;
            }
        }
    }
    .pending_card_container{
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 1rem;
        margin: 2rem auto;

        .card{
            display: flex;
            padding: 1rem;
            width: 100%;
            gap: 1rem;
            flex-direction: column;
            border: 1px solid rgba(26, 56, 96, 0.1);
            border-radius: 10px;
            
            .card_title{
                font-size:1.5rem;
                font-weight: 500;
            }

            .card_desc{
                font-size: 0.8rem ;
            }

            span{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }


            h2{
                font-size: 0.8rem;
                font-weight: 500;
            }
            
            .profile{
                justify-content: flex-start;

                img{
                    margin-right: 1rem;
                }
            }
            
            button{
                border: none;
                border-radius: 2px;
                font-size: 0.7rem;
                background-color: #14A9F9;
                color: #fff;
                padding: 7px 10px;
            }

            .approved{
                background-color: #15C15D;
            }

            .details{
                display: flex;
                flex-direction: column;
                gap: 7px;
                align-items: flex-start;

                p{
                    font-size: 0.7rem;
                    margin-right: 0.5rem;
                }

                .date{
                    color: #6E6F7D ;
                }
            }
            
        }
    }
}

